---
layout: default
---
<h2>Upcoming Events</h2>

{% set year = 0 %}

{% for event in site.events %}
    {% if date(event.date) >= date('today') %}
        {% if event.date|date('Y') != year %}
            {% if year != 0 %}
                </ul>
            {% endif %}

            {% set year = event.date|date('Y') %}

            <h3>{{ year }}</h3>
            <ul>
        {% endif %}

        <li>{{ include('event-teaser') }}</li>
    {% endif %}
{% endfor %}

{% if year != 0 %}
    </ul>
{% endif %}

<h2>Previous Events</h2>

{% set year = 0 %}

{% for event in site.events|reverse %}
    {% if date(event.date) < date('today') %}
        {% if event.date|date('Y') != year %}
            {% if year != 0 %}
                </ul>
            {% endif %}

            {% set year = event.date|date('Y') %}

            <h3>{{ year }}</h3>
            <ul>
        {% endif %}

        <li>{{ include('event-teaser') }}</li>
    {% endif %}
{% endfor %}

{% if year != 0 %}
    </ul>
{% endif %}
